.header{
    background-color: rgb(44 62 80);
    height: 104px;
}
.header a{
    font-family:"Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 700;
}
.hero-section{
    background-color: rgb(26 188 156);
}
.hero-section img{
    width: 240px;
    height: 254px;
}
.hero-section h1{
    font-size: 64px;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 700;
}
.Portfolo-section h2{
    font-size: 48px;
    color: rgb(44 62 80);
    font-weight: 700;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.Portfolo-section img{
    width: 400px;
    height: 300px;
}
.about-section{
    background-color: rgb(26 188 156);
}
.about-section h2{
    font-size: 48px;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 700;
}
.about-section img{
    width: 25px;
}
.contact-section h2{
    font-size: 48px;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 700;
    color: rgb(44 62 80);
}
.contact-section textarea{
    height: 120px !important;
}
.contact-section button{
    background-color: #1abc9c;
    border: 0;
    border-radius: 5px;
}
.fotter-section .center-content .socialMedia-icons .circle{
    width: 52px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fotter-section .center-content .socialMedia-icons .circle img{
    width: 30px;
}   
.fotter-section{
    background-color: #2c3e50;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.fotter-section .right-content a{
    color: #1abc9c;
}
.copyright{
    background-color: #1a252f;
}